//Font Delcarations

//Bebas Neue
@font-face {
  font-family: 'bebasneue';
  src: url('BebasNeue.otf') format('opentype')
}

//Brandon Grotesque Black
@font-face {
  font-family: 'brandonblk';
  src: url('brandon_blk-webfont.eot?#iefix') format('embedded-opentype'),
  url('brandon_blk-webfont.woff') format('woff'),
  url('brandon_blk-webfont.ttf')  format('truetype'),
  url('brandon_blk-webfont.svg#svgFontName') format('svg');
}

//Brandon Grotesque Light
@font-face {
  font-family: 'brandonlight';
  src: url('brandon_light.otf') format('opentype')
}

//Neutra Text Bold
@font-face {
  font-family: 'neutrabold';
  src: url('NeutraText-Bold.otf') format('opentype');
}

//Neutra Text Book
@font-face {
  font-family: 'neutrabook';
  src: url('NeutraText-Book.otf') format('opentype');
}
